= simple_form_for(@workout, html: {class: 'form-horizontal'}) do |f|
  = f.input :date, label: "Date"
  = f.input :workout, label: "What kind of workout did you do?", input_html: {class: "form-control"}
  = f.input :energy, label: "How did you feel during your workout?", input_html: {class: "form-control"}
  = f.input :length, label: "Work out time?", input_html: {class: "form-control"}
  %br
  = f.button :submit
