#workout

  %p= @workout.date
  %p= @workout.workout
  %p= @workout.energy
  %p= @workout.length

= link_to "Main Page", root_path |
= link_to "Edit", edit_workout_path(@workout)
=link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Not cool?" }
