= simple_form_for([@workout, @workout.goals.build]) do |l|
  = l.input :name, input_html: { class: "form-control" }
  = l.input :sets, input_html: { class: "form-control" }
  = l.input :reps, input_html: { class: "form-control" }
  %br/
  = l.button :submit
